@import 'material-variables.scss';

.preview-notice {
    background-color: $color-warn;
    display: flex;
    flex-direction: column;
    .preview-row {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-decoration: underline;
        }
    }
}

mat-toolbar-row {
    padding-left: 0;
}

.header-title {
    padding-left: 16px;
}

.menu-button {
    transform: scale(1.25);
    height: 100%;
    margin-left: 0;
    min-width: auto;
    width: 52px;
    border-right: 1px solid rgba(0,0,0,.15);
}

.toolbar-spacer {
  flex: 1 1 auto;
}
