<mat-toolbar color="primary">
  <mat-toolbar-row>
      <a routerLink="/">
        <h1>
          <span class="gd-logo">GD</span>
          {{prefix}}<strong>{{postfix}}</strong>
        </h1>
      </a>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showPrerelease" class="preview-notice">
    <div class="preview-row">
        <span>
            <mat-icon>warning</mat-icon> This is a preview site.
        </span>
        <a href="{{preReleaseLiveSiteLink}}" *ngIf="preReleaseLiveSiteLink">Click here to go to the live site</a>
        <div>
            <button mat-button mat-raised-button color="primary" (click)="showPrerelease = false">OK</button>
            <button mat-button mat-raised-button color="primary" (click)="hideForCurrentVersion()">Hide for this version</button>
        </div>
    </div>
    <div class="preview-row">
        <span *ngIf="preReleaseVersion">Version: {{preReleaseVersion}}</span>
        <span *ngIf="preReleaseBuildDate">Built: {{preReleaseBuildDate | date:'dd.MM.yyyy HH:mm'}}</span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
