@import 'material-variables.scss';

.preview-notice {
    background-color: $color-warn;
    display: flex;
    flex-direction: column;
    .preview-row {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        a {
            text-decoration: underline;
        }
    }
}

.toolbar-spacer {
  flex: 1 1 auto;
}
