<dangl-header
  [logoInitials]="null"
  prefix="Dangl"
  postfix=".Material"
  (menuButtonClicked)="menuButtonClicked()"
  showMenuButton="true"
>
  <span>Partial Login</span>
</dangl-header>

<h1>Dangl Material Shared Library</h1>
<p>See the README for more information.</p>

<h3>TinyMCE Demo</h3>
<dangl-tiny-mce></dangl-tiny-mce>

<h3>TinyMCE in German</h3>
<dangl-tiny-mce
  tinyMceLanguageUrl="/assets/tinymce-langs/de.js"
  tinyMceLanguageCode="de"
></dangl-tiny-mce>

<dangl-footer
  [options]="footerOptions"
  [showLegalNotice]="true"
  legalNoticeText="Legal Notice"
></dangl-footer>
